.main_content {
    margin-top: 24px;
    margin-left: 24px;
    margin-left: 24px;
}

.h2 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    margin-bottom: 16px;
}

.chat {
    /* width: 100%; */
    height: 380px;
    background-color: #f5f7fb;
    border-radius: 10px;
    border: 1px solid #DCE9FE;
    padding: 20px;

}

.chat h2 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
}

.chat_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.select {
    border: none;
    width: 200px;
    padding: 5px;
    border-radius: 5px;
    width: 100px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;

}


.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    width: 100%;
    margin-top: 20px;
}